body {
  margin-top: 30px;
  margin-bottom: 60px !important;
}

.jumbotron {
  float: none;
  display: block;
  text-align: center;
  background-color: rgb(248, 248, 248);
}

.btn {
  margin-top: 20px;
}

.social-buttons {
  text-align: center;
}

.narrow {
  max-width: 640px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}