body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2C3E50;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.narrow {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center
}

.inline {
  display: inline-block;
}

.fb-like{
  position:relative;
  top:-6px;
}

header {
  color: #333;
  text-align: center;
  padding: 60px 1% 40px 1%;
  font-size: 24px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
}

h1 {
  color: #2C3E50;
  letter-spacing: .1em;
  margin-bottom: 50px;
}

a.sponsor {
  display: block;
  margin: 20px 0 50px 0;
  color: #999;
  background: #F9F9F9;
  padding: 20px;
  border-radius: 5px;
}

a.sponsor:hover {
  color: #4f96bd
}

/*a.sponsor:hover {
  color: white;
  background: #E6461A;
}*/

p {
  font-weight: normal;
}

footer {
  text-align: center;
  border-top: 1px solid #DDD;
}

h2 {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #1882BC;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 18px;
}

pre, #result {
  font-size: 16px;
}

code {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#result {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

code, #result {
  padding: 20px !important;
  border-radius: 2px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

p {
  line-height: 1.6em
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 320px;
}

tr:hover {
  background: #FCFCFC;
}

td:first-child {
  width: 120px;
}

td {
  border-top: 1px solid #EEE;
  padding: 5px
}

td.verb {
  font-weight: bold;
}

.more {
  font-weight: 200;
  padding: 6px 0;
  background-color: #00AE77;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.more p {
  margin: 0;
}

a.more:hover {
  text-decoration: none;
  background: rgba(0, 174, 119, 0.9);
}

.fa-heart {
  color: #d14;
}

@media (max-width: 700px) {
  header {
    font-size: 22px;
  }

  h1 {
    font-size: 28px;
  }

  code, #result {
    padding: 1% !important;
  }
}
